<div id="generar">
    <div class="center">
      <section id="content">
        <h1 class="subheader" v-if="!isEdit" >Crear Producto</h1>
        <h1 class="subheader" v-else >Editar Producto</h1>

        <!--Formulario-->
        <form class="mid-form" v-on:submit.prevent="guardar()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" v-model="producto.nombre" />
            <div
              class="input-errors"
              v-for="error of v$.producto.nombre.$errors"
              :key="error.$uid"
            >
              <div class="error-msg" v-if="submitted">{{ error.$message }}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input
              type="number"
              name="precio"
              step="0.01"
              v-model="producto.precio"
            />

            <div
              class="input-errors"
              v-for="error of v$.producto.precio.$errors"
              :key="error.$uid"
            >
              <div class="error-msg" v-if="submitted">{{ error.$message }}</div>
            </div>
          </div>
          <div class="form-group">
           
            <label for="imagen">Imagen</label>
            <input
              type="file"
              id="imagen"
              ref="file"
              name="imagen"
              @change="cambioArchivo()"
            />
          </div>
          <div v-if="isEdit && producto.fotoHashCode"  >

            <img class="imagen-small"
            :src="rutaImagen + producto.idProducto"
            :alt="producto.nombre"
            :title="producto.nombre"
            v-if="producto.fotoHashCode"
          />

          </div>
          <div class="clearfix"></div>
          <input type="submit" value="Guardar" class="btn btn-success" />
        </form>
      </section>
      <SideBar />
      <div class="clearfix"></div>
    </div>
  </div>